body{
 background-color: black;
}

main#o, main#b{
    background-color: rgb(169, 221, 221);
    width: 600px;
    height: 300px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    border: 1px solid white;
}


div{
    background-color: teal;
    width: 600px;
    height: 300px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    border: 1px solid white;
}
