main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: grey;
}

div.botao-efeito{
    background-color: grey;
    border: 10px solid black;
    padding: 20px 25px;
    font-size: 35px;
    width: max-content;
    height: 50px;
}
#s01{
    width: 20px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: rgb(255, 255, 255);
    transform: skewX(65deg);
    position: relative;
    z-index: 2;
    top: -70px;
    transition-duration: 2s;
}

#s02{
    width: 20px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 2;
    top: 20px;
    right: -216px;
    background-color: rgb(255, 255, 255);
    transform: skewX(65deg);
    border: none;
    transition-duration: 2s;
}
.botao-efeito:hover div#s01{
    transform:  translateX(200px) skewX(65deg);
}

.botao-efeito:hover  div#s02{
    transform:  translateX(-200px) skewX(65deg);
}

