@charset "UTF-8";


.main-contatos{
    background-image: url(../pictures/003-fundo.png);
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "titulo titulo titulo"
                         "contatos contatos mapa"
                         "contatos contatos mapa"
                         "contatos contatos mapa"
                         "endereco endereco endereco"
    ;
    
    column-gap: 20px;
    row-gap: 10px;
    padding: 0px 20px;
    max-width: 1160px;
}
.contatos_lista{
    grid-area: contatos;
    width: 100%;
}

div#item{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: first baseline;
    border: 1px solid black;
}


.telefones{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    
}
.telefones >p{
    display: flex;
    font-size: 2vmax;
    
}

div#item >span{
    padding: 10px;
    font-size: 2.1vmax;
}


div#item >img {
    padding: 10px;
    width: 4vmax;
    max-width: max-content;
    
    display: block;
}



h2{
    font-size: 4vmax;
    grid-area: titulo;
    text-align: center;
    padding: 20px 0px 0px 0px;
    margin-top: 0px;
  
}

.mapa{
    grid-area: mapa;
    
}

.mapa >iframe{
    
    width: 100%;
    height: 90%;
    border: 2px double black;
    
}
.endereco{
    grid-area: endereco;
    font-size: 1.8vmax;
    font-family: fantasy;
    text-align: center;
}

@media only screen and (max-width: 700px){
    .main-contatos{
        background-image: url(../pictures/003-fundo.png);
        background-size: 100%;
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "titulo"
                             "contatos "
                             "mapa"
                             "endereco"
        ;
        row-gap: 20px;
        justify-content: center;
        
        
    }
        .mapa >iframe{
    
            width: 100%;
            height:50vw;
            border: 2px double black;
            
        }
        
        .contatos_lista{
            grid-area: contatos;
        
        
        }
        .endereco{
            grid-area: endereco;
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
        }
        .telefones >p{
            
            font-size: 2.9vmax;
            
        }
        .telefones{
            flex-flow: column wrap;
            display: flex;
            padding-left: 20px;
        }
        
        div#item >span{
            padding: 10px;
            font-size: 3vmax;
        }
        h2{
            font-size: 37px;
        }
        

}