@charset "UTF-8";

:root{

    --cor_01: #000000;
    --cor_02: rgb(233, 218, 14);
    --cor_03: rgb(31, 238, 221);
    --cor_04: rgb(159, 16, 172);

    --font_texto:  Arial, Helvetica, sans-serif;
    --font_titulo: 'Times New Roman', Arial Helvetica, sans-serif;
    --font_cabeça: fantasy, Arial Helvetica, sans-serif;
}


header{
   
    font-family: var(--font_cabeça);   
    color: hsl(61, 86%, 49%);
    padding-top: 50px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 1px 1px 20px 8px  rgb(253, 249, 6);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROPMw5eg5tnGzpQPE4CLHIcxvxue4NtMAfgQ&usqp=CAU");
    

}

body{
    background-image: url(../pictures/CEU.png);
    background-attachment: fixed;
    background-color: black;
}

header >h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav > ul{
    display:flex;
    flex-flow: row wrap;
    padding: 0px;
    margin: 0px;
}

nav > ul >li{
    list-style-type: none;
    min-width: 140px;
    min-height: 40px;
    display: flex;
    flex: 1 1 0px;
   
}

a.nav-menu:hover{
    background-color: rgb(121, 116, 116);
    transition-duration: 0.5s; 
    
}
a.nav-menu:active{
    background-color: rgb(247, 14, 14);
}

#menu-vertical-ul{
    display: flex;
    flex-direction: column;
   

}

#menu-vertical-ul:hover .menu-vertical-itens{
    display: flex;
    background-color: darkgoldenrod;
}



a.nav-menu{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    height: 60px;
}
  
 
  
  .menu-vertical-itens{
      display: none;
      background-color: lemonchiffon;
  }
  
  .menu-vertical-itens >ul{
      list-style-type: none;
      padding: 0px;
      margin-right: 50px;
      margin-top: 1px;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: khaki;
      max-width: 300px;
      width: 25%;

  }
  
  
  .menu-vertical-itens >ul > li> a{
    
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    
  }
  
  .menu-vertical-itens >ul > li> a:hover{
      background-color: blueviolet;
      transition: 0.5s;
      border: 1px solid rgb(8, 8, 8);
      visibility: visible;
     
    }
  
    .menu-vertical-itens >ul > li> a:active{
      background-color: rgb(250, 250, 250);
    }

    
footer{
    background-image: linear-gradient(to right, black, rgb(70, 66, 66));
    display: flex;
    flex-flow: row wrap;
    list-style-type: unset;
    justify-content: space-around;
    margin: 40px auto;
    max-width: 1160px;
    box-shadow: 1px 1px 20px 8px  rgb(0, 0, 0);
    color: white;
    padding: 20px;
    padding-bottom: 40px;

}

footer > ul {
    list-style-type: none;
    margin: auto;
    flex-shrink: 0;
    flex-grow: 2;
    
}

footer >ul >li{
    padding-top: 10px;
    margin-top: 10px;
}

footer >ul >li >a{
    font-family: var(--font_titulo);
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

div.desenvolvedores{
    list-style-type: none;
    flex-grow: 1;
}
div.desenvolvedores >h1{
    text-align: center;
    margin: auto;
}
div.desenvolvedores >p{
    font-size: 20px;
}
div.desenvolvedores >li >a{
    text-decoration: none;
    color: rgb(179, 96, 96);
    padding-left: 10px;
}
.desenvolvedores >li{
        font-size: 20px;
}
    

div.barra{
    border: 5px solid rgb(223, 223, 223);
    margin: 15px 60px 0px 60px;
   
}
  
  
@media only screen and (max-width: 840px){


    a.nav-menu{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    header >h1{
        font-size: 2.5rem;
        padding: 0px 20px;
    }
    footer{
        flex-flow: column wrap;
    }

    footer >ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    div.barra{
        margin: 20px 0px;
    }
}





@media only screen and (max-width: 640px){

    a.nav-menu {
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(255, 254, 254);
        text-decoration: none;
        width: 100%;
        height: 100%;
        min-width: none;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }
    
    .menu-vertical-itens >ul{
        list-style-type: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: khaki;
        width:49%;
    }
    .menu-vertical-itens{
        display: none;
        background-color: lemonchiffon;
    }
    .menu-vertical-itens >ul > li> a{
    
        display: flex;
        padding: 20px 20px;
        text-decoration: none;
        color: black;
        
      }

      nav > ul >li{
        list-style-type: none;
        min-width: 100px;
        min-height: 40px;
        display: flex;
        flex: 1 1 220px;
    }
    header >h1{
        padding: 0px 45px;
    }
    header{
        padding: 10px 0px;
    }
     
}


@media only screen and (max-width: 550px){

    nav > ul >li{
        list-style-type: none;
        min-width: 100px;
        min-height: 40px;
        display: flex;
        flex: 1 1 180px;
    }
    header >h1{
        padding: 0px 10px;
    }

}

@media only screen and (max-width: 420px){

    a.nav-menu {
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(235, 235, 235);
        text-decoration: none;
        width: 100%;
        height: 100%;
        min-width: none;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }

    nav >ul >li{
        display: flex;
        flex-flow: column wrap;
        min-width: none;
    }

    header >h1{
        font-size: 1.8rem;

    }
    

}