body{
    background-color: black;
    overflow: hidden;
}

div:nth-child(2){

    top: 70%;
    right: 45%;
    animation-direction: alternate-reverse;
}
div:nth-child(3){
    animation-direction: reverse;
    top: 10%;
    right: 45%;
}
div:nth-child(4){
    top: 20%;
    right: 35%;
}

div{
    top: 50%;
    right: 35%;
    position: absolute;
    width: 800px;
    height: 10px;
    animation-name: animacao01;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
span{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 1px 1px 18px 0px gold;
    animation-name: animacao02;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}
@keyframes animacao02 {
    0%{
        background-color: gold;
        box-shadow: 1px 1px 18px 0px gold;
    }25%{
        background-color: indigo;
        box-shadow: 1px 1px 18px 0px rgb(15, 17, 128);
    }50%{
        background-color: greenyellow;
        box-shadow: 1px 1px 18px 0px rgb(199, 173, 24);
    }100%{

    }
}

@keyframes animacao01 {
    
    0%{
        transform: translateY(340px) rotateZ(180deg); 
        
    }25%{

        transform:translateY(340px)  translateX(350px) rotateZ(80deg);
        
    }50%{


    }100%{

    }
}

