@charset "UTF-8";

body{

text-align: center;
background-color: black;

}

h1,p{

    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

p{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}