@charset "UTF-8";

body{
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(239, 242, 192),rgb(233, 238, 165));
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 0,5%;
}

h1{
    background-color: rgb(107, 101, 75);
    font-family: Helvetica, arial,sans-serif ;
    color:   whitesmoke;
    text-align: center;
}

span{
    background-color: yellow;
    color: black;
    font-weight: 900;
}

#principal{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 1em;
    
}

.justificado{
    text-align: justify;
}

.nao-justificado{
    text-align: left;

}


li{
    font-size: 1em;
    font-family: Helvetica, arial,sans-serif;
    font-weight: normal;
    text-align: justify;
    padding-bottom: 0.5cm;

}
li::before{
    content: "-";
    font-weight: 900;
}


