@charset "UTF-8";

body{
background-color: rgba(14, 8, 8, 0.863);
color: blanchedalmond;
font-family:  Helvetica, sans-serif,arial;
}

h1{
    text-align: center;
    background-color: teal;
    font-family:  Helvetica, sans-serif,arial;
    color: white;
}


h2{
    text-align: center;
    background-color: teal;
    color: white;  
    font-family: 'Times New Roman', Times, serif;
}
ul{
    color: white;
    text-align: justify;
}
img{
    display: inline-block;
}

p{
    color: white;
    text-align: justify;
    display: inline-block;
    font-family:  Helvetica, sans-serif,arial;
    font-size: 1.2em;
}

h3{
    text-align: center;
}






