@charset "UTF-8";

body{
    background-color: rgba(32, 26, 26, 0.979);
    color: blanchedalmond;
    font-family:  Helvetica, sans-serif,arial;
    }
    
    h1{
        text-align: center;
        background-color: teal;
        font-family:  Helvetica, sans-serif,arial;
        color: white;
    }
    
    
    h2{
        text-align: center;
        background-color: teal;
        color: white;  
        font-family: 'Times New Roman', Times, serif;
    }
    
p{
    color: white;
    text-align: justify;
    display: inline-block;
    font-family:  Helvetica, sans-serif,arial;
    font-size: 1.2em;
    
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}


ul{
    color: white;
    text-align: justify;
}

