body{
    background-color: rgb(160, 111, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

P{
    color: white;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 15px;
    text-align: center;
    width: 600px;
    animation-name: animacao;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    text-shadow: 0px 25px 9px rgba(0, 0, 0, 0.445);
   
}

@keyframes animacao{

    from{
        transform: rotateZ(-10deg);

    }to{
        transform: rotateZ(10deg);

    }

}