
body{

    background-color:#995BED;

}
.side{
   
    margin: 80px auto;
    padding-bottom: 40px;

    display: flex;
    flex-flow: column wrap;
    max-width: 380px;

    color: black;
    background-color: white;
    align-items: center;
}

h1{

    text-align: center;
    color: rgb(194, 169, 169);

}

.side >ul{

    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0px;
    width: 100%;
    margin: 20px 0px 90px 0px;

}

.side >ul >li >a{

    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: first baseline;
    padding: 20px 0px;
    
}
.side >ul >li >a:hover{

    background-color: #F7F2FF;
    color: #995BED;
    display: flex;
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-decoration: none;
    
    justify-content: first baseline;
    padding: 20px 0px;
    
}
.side >ul >li >a >img{
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.side >img{
    max-width: 100px;
    border: 2px double black;
    border-radius: 50px;
    text-align: center;

}