body{
    background-color: rgb(0, 0, 0);
    padding: 40px;
}

.topo{
    width: 200px;
    height: 5px;
    background-color: white;
    margin: -2px auto;
}
.base{
    margin: auto;
    width: max-content;
    display: flex;
}
span{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transform-origin: top;
}

#linha{
    width: 2px;
    height: 150px;
    background-color: white;
}
#bola{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}


span:nth-child(1){
    animation-name: animacao1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

span:last-child{
    animation-name: animacao2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes animacao1 {
    0%{ 
        transform: rotate(60deg);
    }50%{ 
        transform: rotate(0deg);
    }100%{ 
        transform: rotate(0deg);
    }
}

@keyframes animacao2 {
    0%{ 
        transform: rotate(0deg);
    }50%{ 
        transform: rotate(0deg);
    }100%{ 
        transform: rotate(-60deg);
    }
}


