main{
    width: 75px;
    height: 75px;
    margin: 100px auto;
}
body{
    background-color: burlywood;

}

div{
    background-color: brown;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

div:nth-child(1){
    animation-name: animacao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    animation-delay:0.8s;
    animation-play-state: running;
}

div:nth-child(2){
    animation-name: animacao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    animation-delay: 2.2s;
}

div:nth-child(3){
    animation-name: animacao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}



@keyframes animacao {
    0%{
        transform: translate3d(0px,0px,0px);
    }
    20%{
        transform: translate3d(50px,0px,0px);
    }
    25%{
        transform: translate3d(50px,0px,0px);
    }
    45%{
        transform: translate3d(50px,50px,0px);
    }
    50%{
        transform: translate3d(50px,50px,0px);
    }
    70%{
        transform: translate3d(0px,50px,0px);
    }
    75%{
        transform: translate3d(0px,50px,0px);
    }
    95%{
        transform: translate3d(0px,0px,0px);
    }
    100%{
        transform: translate3d(0px,0px,0px);
    }
    
}